<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
      <link rel="stylesheet" href="~/css/bootstrap-reboot.css />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/bootstrap-utilities.css/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HAPPYWeb.view.styles.css" asp-append-version="true" />
     @await RenderSectionAsync("Layout", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
