<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
    <title> @ViewData["Title"] - HAPPY</title>

   <link rel="stylesheet" href="~/css/bootstrap-reboot.css />
<link rel="stylesheet" href="~/css/bootstrap-grid.css" /> @*Não entendi pq o Link de baixo não funciona se eu não colar isso aqui*@
   <link rel="stylesheet" href="~/css/bootstrap-grid.css" />
   <link rel="stylesheet" href="~/css/bootstrap.css" />
   <link rel="stylesheet" href="~/css/bootstrap-utilities.css/>
<link rel="stylesheet" href="~/css/bootstrap-grid.css" /> @*Não entendi pq o Link de baixo não funciona se eu não colar isso aqui*@
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
   <link rel="stylesheet" href="~/HAPPYWeb.view.styles.css" asp-append-version="true" /> 
</head>


<body>

@*    <header>
        <div class="container">
                    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Menu
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" asp-area="" asp-controller="Produtos" asp-action="Index">Produtos</a></li>
    <li><a class="dropdown-item" asp-area="" asp-controller="Marcas" asp-action="Index">Marcas</a></li>
  </ul>
</div>
</div>
    </header>*@

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="Home"> HAPPY </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav">

          <!-- LINK -->
@*        <li class="nav-item">
          <li><a class="nav-link" asp-area="" asp-controller="Produtos" asp-action="Index">Produtos</a></li>
        </li>
        <li class="nav-item">
          <li><a class="nav-link" asp-area="" asp-controller="Marcas" asp-action="Index">Marcas</a></li>
        </li>*@

         <!-- DROPDOWN -->
        <li class="nav-item dropdown"> 
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mercadoria
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="Produtos">Produtos</a></li>
            <li><a class="dropdown-item" href="Marcas">Marcas</a></li>
          </ul>
        </li>

         <!-- DROPDOWN -->
        <li class="nav-item dropdown"> 
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Funcionários
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="Funcionarios">Registros</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>

   <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - HAPPYWeb.view - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
