@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1><strong> HAPPY TOYS </strong> </h1>
    <h5 > <span class="badge rounded-pill bg-warning text-dark"> Mais que brinquedo, aprendizado </span></h5>
</div>




